/* Header */
.large-header {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

.demo-1 .large-header {
	background-image: url('../img/demo-1-bg.jpg');
}

.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.demo-1 .main-title{
	text-transform: uppercase;
	font-size: 4.2em;
	letter-spacing: 0.1em;
}


@media only screen and (max-width : 768px) {
	.demo-1 .main-title{
		font-size: 3em;
	}
}
.indexLink{
	color:#52C128;
}
a:hover{
	color:#2E6D17;
	transition: all 0.5s;
}

.profile {
    width: 5%;
    height: 10%;
    border-radius: 150px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    float: right;
    margin-right: 5%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    float:right;
    margin-right:2%;
    background-color:#333;
}

/* Links inside the dropdown */
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/* 
